.RegistrationForm {
  padding: 20px 40px;
}

.RegistrationForm__group {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    opacity: 0;
    width: 300%;
  }

  to {
    margin-left: 0%;
    opacity: 1;
    width: 100%;
  }
}

.RegistrationForm__control {
  justify-content: flex-end;
  display: flex;
}

.RegistrationForm__group input[type='text'] {
  background: #efefef;
  border: solid 1px transparent;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}

.RegistrationForm__group input[type='radio'] {
  margin-right: 10px;
}

.RegistrationForm__group label {
  color: #848484;
  margin-bottom: 5px;
}

.RegistrationForm__radio-container {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.RegistrationForm__radio {
  padding: 0 20px 0 0;
  width: 150px;
}

.RegistrationForm button {
  background: #2e3642;
  color: #fff;
  border-radius: 4px;
  width: 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.RegistrationForm button:hover {
  background-color: #475161;
}

.RegistrationForm__error {
  color: #bd2d2f;
  height: 18px;
}
