.App {
  flex: 1;
  background: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);
}

/* S size*/
.App {
  width: 100%;
}

/* L+ size*/
@media only screen and (min-width: 1140px) {
  .App {
    width: 1180px;
  }
}
